.home-container {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;

    .shadow {
        width: 100%;
        height: 100%;
        position: absolute;
        border-radius: 50%;
        transform: scale(1.5);
        top: 0;
        right: 0;
        box-shadow: inset -5px 0px 1000px 200px rgba(0, 0, 0, 0.5),
            inset 5px 0px 1000px 200px rgba(0, 0, 0, 0.5);
    }

}