.all-container {
    margin-top: 250px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    .all-parallax-container {
        width: 90%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
    }

    .left-projects-section {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .right-projects-section {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 400px;
    }

}

@media(max-width:700px) {
    .all-container .all-parallax-container {
        width: 95%;
    }
}