.project-preview-container {
    width: 65%;
    height: 300px;
    position: relative;
    margin: 200px 0;

    &:nth-of-type(odd) {
        margin-top: 0px;
    }




    .project-preview-image {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 90%;
        background-size: cover;
        cursor: pointer;
        transition: 0.4s ease-in opacity;
        opacity: 0.4;

        &:hover {
            opacity: 1;
        }
    }

    .project-preview-details {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        position: absolute;
        bottom: 50%;
        right: 15%;
        width: 100%;

        .project-link {
            color: #fff;
            text-decoration: none;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;


            h1,
            h2 {
                margin: 0;
            }

            h1 {
                font-size: 24px;
                line-height: 41px;
                letter-spacing: 8px;
                font-weight: 400;
                text-transform: uppercase;
            }

            h2 {
                font-size: 14px;
                line-height: 20px;
                letter-spacing: 4px;
                font-weight: 400;
                color: rgba($color: #ffffff, $alpha: 0.6);
            }
        }


    }
}