.slider {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;

    .shadow {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 50%;
        transform: translateX(-50%) scale(2);
        border-radius: 50%;
        background-color: #00000036;
        box-shadow: 0px 0px 1000px 250px rgba(0, 0, 0, 0.8) inset;
        -webkit-box-shadow: 0px 0px 1000px 250px rgba(0, 0, 0, 0.8) inset;
        -moz-box-shadow: 0px 0px 1000px 250px rgba(0, 0, 0, 0.8) inset;
        z-index: 2;
    }



    .slider-arrow-container {
        width: 90%;
        position: absolute;
        bottom: 15px;
        left: 50%;
        transform: translateX(-50%);
        display: none;
        justify-content: space-between;
        align-items: center;
        z-index: 2;

        .slider-arrow-icon {
            width: 15px;
            height: auto;
            cursor: pointer;

            path {
                fill: #fff;
            }
        }
    }

    .slide {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: all 1.5s ease-in-out;

        &.active {
            opacity: 1;

            .slide-title {
                opacity: 1;
                transition-delay: 1.5s; // delay the appearance of the title by 0.5s
            }
        }

        &.prev {
            left: -100%;
        }

        &.next {
            left: 100%;
        }

        .slide-image {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: 0.3s ease-in-out all;
        }


        .slide-title {
            text-decoration: none;
            color: #fff;
            position: absolute;
            top: 50%;
            left: 50%;
            opacity: 0;
            transform: translateY(-50%) translateX(-50%);
            transition: all 0.3s ease-in-out;
            transition-delay: transform 0s;
            z-index: 2;

            h1 {
                font-size: 1.6rem;
                line-height: 3rem;
                text-align: center;
                font-weight: 500;
                text-transform: uppercase;
                letter-spacing: 10px;
            }


        }




    }

    .prev-btn,
    .next-btn {
        background-color: transparent;
        border: none;
        font-size: 0.8rem;
        font-weight: 700;
        letter-spacing: 2px;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        text-transform: uppercase;
        color: #c2c2c2;
    }

    .prev-button-container {
        width: 25%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 70px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 2;
    }

    .next-button-container {
        width: 25%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 70px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 2;
    }

    .button-container-line {
        width: 80%;
        height: 1px;
        background-color: #ffffff5f;
    }

    .progress-status-container {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        right: 70px;
        bottom: 80px;
        z-index: 2;

        .status-number {
            h1 {
                font-size: 0.9rem;
                letter-spacing: 5px;
                font-weight: 500;
            }
        }

        .status-total {
            h1 {
                font-size: 0.9rem;
                letter-spacing: 5px;
                font-weight: 500;
            }
        }

        .slide-timer {
            width: 50px;
            height: 1px;
            background-color: #4f4f4f;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            margin: 0 20px;

            .progress-timer {
                height: 100%;
                background-color: #fff;
                transform-origin: left;
                transition: 0s ease-in-out all;
            }

            &.over .progress-timer {
                transform: scaleX(1);
                transition: 0.1s ease-in-out all;
            }
        }
    }



}





@media(max-width:1000px) {

    .slider .next-button-container {
        width: 20%;
    }

    .slider .prev-button-container {
        width: 20%;
    }

    .slider .button-container-line {
        width: 70%;
        height: 1px;
        background-color: rgba(255, 255, 255, 0.3725490196);
    }
}



@media(max-width:800px) {

    .slider .prev-button-container,
    .slider .next-button-container {
        display: none;
    }

    .slider .slider-arrow-container {
        display: flex;
    }

    .slider .slide .slide-title {
        width: 100%;
    }

    .slider .slide .slide-title h1 {
        font-size: 1.4rem;
        line-height: 2.5rem;
    }

    .slider .shadow {
        box-shadow: 0px 0px 800px 200px rgba(0, 0, 0, 0.8) inset;
        -webkit-box-shadow: 0px 0px 800px 200px rgba(0, 0, 0, 0.8) inset;
        -moz-box-shadow: 0px 0px 800px 200px rgba(0, 0, 0, 0.8) inset;
    }
}

@media(max-width:750px) {
    .slider .progress-status-container {
        width: 100%;
        left: 0;
        bottom: 40%;

        .slide-timer {
            margin: 0 20px;
        }

        .status-number,
        .status-total {
            h1 {
                font-size: 0.7rem;
                letter-spacing: 5px;
                font-weight: 400;
            }
        }
    }
}

@media(max-width:650px) {
    .slider .shadow {
        box-shadow: 0px 0px 600px 150px rgba(0, 0, 0, 0.8) inset;
        -webkit-box-shadow: 0px 0px 600px 150px rgba(0, 0, 0, 0.8) inset;
        -moz-box-shadow: 0px 0px 600px 150px rgba(0, 0, 0, 0.8) inset;
    }
}

@media(max-width:600px) {
    .slider .slide .slide-title h1 {
        font-size: 1.2rem;
        line-height: 2rem;
    }
}

@media(max-width:500px) {
    .slider .shadow {
        box-shadow: 0px 0px 400px 120px rgba(0, 0, 0, 0.8) inset;
        -webkit-box-shadow: 0px 0px 400px 120px rgba(0, 0, 0, 0.8) inset;
        -moz-box-shadow: 0px 0px 400px 120px rgba(0, 0, 0, 0.8) inset;
    }
}

@media(max-width:450px) {
    .slider .slide .slide-title h1 {
        font-size: 1rem;
        line-height: 1.5rem;
    }
}

@media(max-width:400px) {
    .slider .shadow {
        box-shadow: 0px 0px 250px 90px rgba(0, 0, 0, 0.8) inset;
        -webkit-box-shadow: 0px 0px 250px 90px rgba(0, 0, 0, 0.8) inset;
        -moz-box-shadow: 0px 0px 250px 90px rgba(0, 0, 0, 0.8) inset;
    }
}

@media(max-width:350px) {
    .slider .shadow {
        box-shadow: 0px 0px 200px 80px rgba(0, 0, 0, 0.8) inset;
        -webkit-box-shadow: 0px 0px 200px 80px rgba(0, 0, 0, 0.8) inset;
        -moz-box-shadow: 0px 0px 200px 80px rgba(0, 0, 0, 0.8) inset;
    }
}